In [1]:
import pandas as pd
import sqlite3

In [2]:
def create_connection(db_file):
    #create a data base connection to SQLite database specified by db_file
    #return a connection object
    
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_country_db(conn):
    
    #Create Cursor Object
    cur = conn.cursor()
    
    #All Queries
    query1 = """
    SELECT name, total_revenue
    FROM
    (SELECT name, sum(revenue) AS total_revenue
    From(
        SELECT name,
        CASE WHEN memid = 0 
            THEN guestcost * slots
        ELSE 
            membercost * slots END AS revenue
        FROM Bookings
        LEFT JOIN Facilities
        USING (facid)
        ) AS innerquery
    GROUP BY name) AS outersubquery
    WHERE total_revenue < 1000
    ORDER BY total_revenue"""

    query2 = """
    SELECT m1.surname, m1.firstname,
    m2.surname AS recommendedby_surname,
    m2.firstname AS recommendedby_firstname
    FROM Members m1
    LEFT JOIN Members as m2
    ON m1.recommendedby = m2.memid
    WHERE m1.recommendedby != 0
    ORDER BY m1.surname, m1.firstname"""
    
    query3 = """
    SELECT name AS facility, count(memid) AS usage_by_members
    FROM Bookings as b
    INNER JOIN Facilities as f
    USING (facid)
    WHERE b.memid <> 0
    GROUP BY b.facid"""
    
    query4 = """
    SELECT name AS facilities,
    strftime('%m', starttime) AS month,
    COUNT(memid) AS monthly_usage
    FROM Bookings AS b
    INNER JOIN Facilities as f
    USING (facid)
    WHERE memid <> 0
    GROUP BY facid, month
    """
    
    queries = (query1, query2, query3, query4)
    
    
    #Run all queries through a for loop, fetching all rows
    for query in queries:
        cur.execute(query)

        rows = cur.fetchall()

        for row in rows:
            print(row)

        print("\n")
    
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("All Queries")
        select_country_db(conn)

if __name__ == '__main__':
    main()

2.6.0
All Queries
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)


('Bader', 'Florence', 'Stibbons', 'Ponder')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Butters', 'Gerald', 'Smith', 'Darren')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Farrell', 'David', None, None)
('Farrell', 'Jemima', None, None)
('GUEST', 'GUEST', None, None)
('Genting', 'Matthew', 'Butters', 'Gerald')
('Hunt', 'John', 'Purview', 'Millicent')
('Jones', 'David', 'Joplette', 'Janice')
('Jones', 'Douglas', 'Jones', 'David')
('Joplette', 'Janice', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Pinker', 'David', 'Farrell', 'Jemima')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Rownam', 'Tim', None, None)
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Smith', 'Darren', None, None)
('Smith', 'Darren', None, None)
('Smith', 'Jack', 'Smith', 'Darren')
('Smith', 'Tracy', None, None)
('Stibbons', 'Ponder', 'Tracy', 'Burton')
('Tracy', 'Burton', None, None)
('Tupperware', 'Hyacinth', None, None)
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')


('Tennis Court 1', 308)
('Tennis Court 2', 276)
('Badminton Court', 344)
('Table Tennis', 385)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Squash Court', 195)
('Snooker Table', 421)
('Pool Table', 783)


('Tennis Court 1', '07', 65)
('Tennis Court 1', '08', 111)
('Tennis Court 1', '09', 132)
('Tennis Court 2', '07', 41)
('Tennis Court 2', '08', 109)
('Tennis Court 2', '09', 126)
('Badminton Court', '07', 51)
('Badminton Court', '08', 132)
('Badminton Court', '09', 161)
('Table Tennis', '07', 48)
('Table Tennis', '08', 143)
('Table Tennis', '09', 194)
('Massage Room 1', '07', 77)
('Massage Room 1', '08', 153)
('Massage Room 1', '09', 191)
('Massage Room 2', '07', 4)
('Massage Room 2', '08', 9)
('Massage Room 2', '09', 14)
('Squash Court', '07', 23)
('Squash Court', '08', 85)
('Squash Court', '09', 87)
('Snooker Table', '07', 68)
('Snooker Table', '08', 154)
('Snooker Table', '09', 199)
('Pool Table', '07', 103)
('Pool Table', '08', 272)
('Pool Table', '09', 408)